.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.pure-button-primary {
    background-color: #3b5998;
}

.pure-button-small {
    font-size: 80%;
}

body {
    background-color: #eff0f1;
}

.page {
    width: 960px;
    margin: 0 auto;
}


.head-nav {
    margin-top: 35px;
    padding: 2.5px 0 2.5px 10px;

    background-color: #3b5998;
}

.head-nav__logo {
    font-weight: normal;
    color: #fff;
}

.head-nav__nav {
    padding-left: 15px;
}

.head-nav__logo,
.head-nav__nav {
    display: block;
    float: left;
    margin: 0;
}

.head-nav__nav__item {
    display: inline-block;

    text-decoration: none;
    color: #dedede;
}

.head-nav__logo,
.head-nav__nav__item,
.head-nav__user-infos__item {
    font-size: 14px;
    line-height: 1.5;
}

.head-nav__nav__item__state_current,
.head-nav__nav__item__state_prompt {
    color: #fff;
}

.head-nav__nav__item__state_prompt {
    padding-left: 5px;
    padding-right: 5px;
}

.head-nav__user-infos {
    float: right;
    padding-right: 15px;
}

.head-nav__user-infos__item {
    color: #dedede;
    text-decoration: none;
}

.head-nav__user-infos__item__state_highlight {
    color: #fff;
}

.head-nav__user-infos__item__state_op {
    padding-left: 5px;
}


.links {
    padding: 15px 0 5px 0;

    background-color: #fcfcfc;
}

.links__item {
    margin: 0 15px 17.5px 15px;
    padding-bottom: 7.5px;
    min-height: 50px;

    border-bottom: 1px solid #f1f1f1;
}

.links__item__title,
.links__link__title {
    display: inline-block;
    margin: 0 0 10px 0;

    font-size: 20px;
    text-decoration: none;
    color: #484848;
}

.links__item__title:hover,
.links__link__title:hover {
    color: #333;
}

.links__item__meta__date,
.links__link__date,
.links__link__comments__item__date {
    margin: 0;
    padding-right: 5px;
}

.links__item__meta__comments-count,
.links__link__author,
.links__link__comments__item__author {
    text-decoration: none;
}

.links__item__meta__comments-count:hover,
.links__link__author:hover,
.links__link__comments__item__author:hover {
    text-decoration: underline;
}

.links__item__meta__date,
.links__item__meta__comments-count,
.links__link__date,
.links__link__author,
.links__link__comments__item__date,
.links__link__comments__item__author {
    display: block;
    float: left;

    font-size: 14px;
    color: #888;
}

.links__add-form {
    margin: 0 15px 17.5px 15px;
    padding-bottom: 7.5px;
}

.links__add-form__input,
.links__add-form__textarea,
.links__add-form__select {
    margin-top: 15px;
    margin-bottom: 15px;
}

.links__add-form__input label,
.links__add-form__textarea label,
.links__add-form__select label {
    margin-bottom: 5px;
}

.links__user-infos {
    padding-right: 15px;
    
    text-align: right;
}

.links__user-infos__nickname {
    margin: 5px 0 10px;
    
    font-size: 24px;
    font-weight: normal;
}

.links__user-infos__meta {
    padding-left: 2px;
}

.links__user-infos__meta__links-count,
.links__user-infos__meta__comments-count {
    margin: 5px 0 0 0;

    font-size: 14px;
    line-height: 1.5;
}

.links__link {
    padding: 0 15px 5px 15px;
}

.links__link__wrapper {
    padding-bottom: 5px;

    border-bottom: 1px solid #f1f1f1;
}

.links__link__title {}

.links__link__content {
    padding-left: 5px;
}

.links__link__content > p,
.links__link__comments__item > p {
    margin: 5px 0 5px 0;
    
    font-size: 14px;
    line-height: 1.5;
}

.links__link__meta {
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

.links__link__comments {
    margin-top: 25px;
}

.links__link__comments__item {
    margin-top: 5px;
    margin-bottom: 20px;
}

.links__link__comments__add-form {
    margin-top: 5px;
    margin-bottom: 15px;
}

.links__link__comments__add-form__textarea {
    margin-bottom: 10px;
}


.copyleft {
    margin-top: 15px;

    text-align: center;
    font-size: 12px;
    color: #666;
}

.copyleft__state__highlight {
    color: #e15258;
}


.login-form {
    margin: 150px auto 0 auto;
    padding: 0 0 25px;
    width: 500px;

    background-color: #fcfcfc;
}

.login-form__header {
    display: block;
    padding: 5px 0 5px 10px;

    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.login-form__input {
    margin-top: 20px;
}
